body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.section{
    height: 700px;
    width: 100%;
}

.header{
    display: flex;
}

.left-header{
    background: black;
    color: white;
    width: 30%;
}

.infos{
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 2em;
}

.name{
    font-size: 2.2em;
    font-weight: bold;
    color: white;
}

.proffession{
    font-size: 1.2em;
    background-color: yellow;
    color: black;
    margin-top: -15px;
    text-align: center;
    width: 100%
}

.circles{
    
}

.image{
    width: 70%;
    background-image: url("images/helvyne.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}
