body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/** 
 * Ceci est la section contenant
 * Notre header
*/

.navBar{
    display: flex;
    background-color: rgb(66, 66, 66);
}

.navItems{
   justify-items: center;
   display: flex;
   text-align: center;
   padding-top:10px;
   padding-left: 20%;
   
}

.margin-left-40{
    margin-left: 40%;
}

.item{
    padding: 2px;
    margin-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    border-bottom: rgb(167, 167, 8);
}

.logo{
    width:30%;
    background: black;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.section{
    height: 700px;
    width: 100%;
}

.header{
    display: flex;
}

.left-header{
    background: black;
    color: white;
    width: 30%;
}

.infos{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2em;
}

.name{
    font-size: 2.2em;
    font-weight: bold;
    color: white;
}

.proffession{
    font-size: 1.2em;
    background-color: yellow;
    color: black;
    margin-top: -15px;
    text-align: center;
    width: 100%
}

.circles{
   display: flex;
   padding: 10px; 
   margin-top:20px;
}

.circle{
    height: 10px;
    width: 10px;
    background-color: rgb(31, 31, 31);
    margin-left: 10px;
    
    border-radius: 50%;
}

.image{
    width: 70%;
    background-image: url("images/helvyne.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

/** 
 * Ceci est la section contenant
 * présentation.
*/

.section-gray{
    background-color: #ececec;
    height: 475px;
    width: 100%;
    display: flex;
    padding-top:10%;
}

.intro-picture{
    height: 300px;
    width: 50%;
    background-color: balck;
}

.black-div{
    height: 350px;
    width: 40%;
    margin-left: 30%;
    background-color: black;
}

.picture{
    height: 450px;
    width: 350px;
    position:absolute;
    left: 17%;
    padding-top: 20px;
}

.profile{
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
}

.presentation{
    height: 300px;
    width: 50%;
}

.text-header{
    display: flex;
}

.vague{
    height: 100px;
    width: 300px;
}

.text-content{
    width: 70%;
}

.whoami{
 margin-left: 35px;
}

.hallo{
    margin-top:-25px;
    font-size: 3em;
}
.picture .circles{
    display: flex;
   padding: 5px; 
   margin-top:0.75px;
   position:relative;
   right: -47%;
   
}
.picture .circle{
    height: 3px;
    width: 3px;
    background-color: rgb(92, 91, 91);
    margin-left: 10px;
    border-radius: 50%;
}
/**
* ceci est la description de mon project
**/
.section-project{
    height: 1400px;
    width: 100%;
    margin-bottom: 10px;
}

.names{
    font-size: 3em;
    font-weight: bold;
    color: black;
}

.projects{
    padding-top:10px ;
    text-align: center;
    
}
  .projects p{
    margin-top:-15px ;
}
.item a{
    text-decoration: none;
    color:black;
    margin-bottom: 10px;
}
.section-project .navItems{
    margin-left: 13%;
}
.images{
    display: flex;
    height: 1000px;
    width: 70%;
    margin: auto;
    flex-direction: row;
    margin-top: 50px;
   padding: 10px; 
   flex-flow: row wrap;
}
.project{
    height: 300px;
    width: 300px;
    margin: 5px;
    
}
.bouton{
    border-radius: 60px ;
    text-align: center;
    margin-top: 80px;
    margin-right: 510px;
    margin-left: 510px;
    background-color: black;
    padding: 10px 40px 10px 40px ;
    text-decoration: none;
    color: white;
    font-size: 2em;

}

/*ceci est mon blog*/

.section-subscribe{
    background-color: rgb(182 241 241); 
    height: 300px; 
    width: 100%;
    text-align: center;
    padding-top: 115px;
}

.blog{
    font-size: 4em;
    margin-top: -53px;
}

h5{
    margin-right: 156px;
    font-size: 1.5em;
}

input {
    padding: 10px 40px;     
}

input[ type="text"]{
    background: #fff;
    padding: 0px 37px;
    height: 50px;
    width: 309px;
    border: none;
    outline: none;
           
}

input[ type="submit"] {
    background: yellow;
    margin-left: -5px;
    border: none;
    outline: none;
    height: 50px;
    width:165px;
}

/* ceci est la section reservee au client */

.section-clients{
    background-color: white;
    height: 438px;
    width: 100%;
    text-align: center;
    padding-top: 139px;
}

.client{
    margin-top: -16px;
    font-size: 3.5em;
    margin-left: 303px; 
}

.some{
    font-size: 1.5em;
    margin-left: 237px;
}

.section-clients p{
    padding: 49px 124px;
    background-color: #fadede;
    margin-right: 310px;
    margin-left: 275px;
    height: 179px;
}

.section-clients img{
    float: right;
    height: 199px;
    margin-right: 199px;
    width: 177px;
    margin-top: -285px;
}

.section-clients h3{
    float: right;
    margin-right: 235px;
    margin-top: -84px;
    font-size: 26px;
}

.section-clients h4{
    float: right;
    margin-right: 261px;
    margin-top: -47px;
    color: #736666;
} 

/* ceci est mon footer*/

footer{
    background: black;
    height: 300px;
    text-align: center;
    margin-top: -16px;
    padding-top: 57px;
    padding-bottom: 15px;
}
.finale p{
    height: 30px;
    border: 10px;
    background: yellow;
    padding-top: 5px;
    margin-top: -11px;
    margin-left: 496px;
    margin-right: 540px;
    font-size: 17px;
}

.finale strong{
    color: white;
    font-size: 40px;
}

.media li{
    width: 100%;
    display:table-cell ;
}

.media a{
    text-decoration:none;
    color: white;
    font-size: 17px;
}

.contact li{
    display:table-cell ;
    padding-top: 50px;
}

